.sky-grey.accmenu-component .menu-list .menu-item .label:hover { /* style the HOVER action on a label in a menu item */
	background: #cadffd;
}
.sky-grey.accmenu-component .menu-list .menu-item .label.acchmnu-selected { /* style the SELECTED label in a menu item */
	background: #a8cefc;
	border-bottom: 1px solid #51b2d0;
}
/*--- styling the labels of levels. for nesting deep into the levels - change level number as per the nesting level  ---*/
.sky-grey.accmenu-component .menu-list .menu-item.level-1 > .label { /* style the label at the FIRST LEVEL (LEVEL-1) of the menu */
	background: #3e71d1;
	border-bottom: 1px solid #ddd;
}
.sky-grey.accmenu-component .menu-list .menu-item.level-1 > .label:hover {/* style the HOVER action on a label at the FIRST LEVEL (LEVEL-1) of the menu */
	background: #1f5bac;
}
.sky-grey.accmenu-component .menu-list .menu-item.level-1 > .label.acchmnu-selected {/* style the SELECTED label at the FIRST LEVEL (LEVEL-1) of the menu */
	background: #ddd;
}

.sky-grey.accmenu-component .level-1 > .menu-list {
	background: #c0dcfd;
}
.sky-grey.accmenu-component .level-2 > .menu-list {
	background: #dae5f2;
}
.sky-grey.accmenu-component .level-3 > .menu-list {
	background: #e8eef5;
}